/* ================= REGISTER PAGE (extends global) ================= */

.card {
    width: 420px;
}

.card h2 {
    text-align: center;
    margin-bottom: 30px;
}

.card p {
    margin-top: 20px;
    text-align: center;
}

.card .btn-primary {
    width: 100%;
}
